<nav class="m-3 d-flex justify-content-around" >
  <div>
    <a class="text-light" routerLink="/" onClick="window.location.reload()">RAWG</a>
  </div>
  <div class="w-50 d-flex bg-light rounded opacity-50" id="inputDiv">
    <input id="inputId" #inputId type="text" placeholder="search" class="align-center form-control-sm  w-100 ps-3"
    (keydown)="onEnterPress($event)">
    <button class="btn btn-light" (click)="search(inputId.value)">Search</button>
  </div>
</nav>
<router-outlet></router-outlet>
